body {
    background-color: rgb(188, 214, 225);
}

.line {
    display: block;
}

.textindent {
    text-indent: 0.5in;
}

.big {
    font-size: 20px;
}

.color {
    color: gray;
}

.tableau {
    font-style: italic;
    font-size: medium;
    font-weight: bold;
    text-align: center;
}

.footer {
    font-size: small;
    margin: auto;
    color: gray;
    text-align: center;
    font-style: normal;
}

.title {
    font-size: x-large;
    text-align: center;
    color: black;
}

.textalign {
    text-align: center;
}

.subheading {
    text-align: center;
    font-style: oblique;
    text-decoration: wavy;
    color: white;
}

.resume {
    font-size: small;
    color: rgb(81, 77, 77);
}

.header {
    font-size: x-large;
}

.about {
font-size: 1.0 rem;
font-style: italic;
margin-top: 1;
color: #b2bac0;
}



